$animation-multiplier: 1;

$animation-time: .25s * $animation-multiplier;

.hero-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	flex-wrap: wrap;
	flex-shrink: 1;
	flex-grow: 1;
	padding: 10px;
	justify-content: space-around;
	
	li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
		flex-grow: 0;
		opacity: 0;
		
		img {
			width: 250px;
			height: 200px;
			background-color: grey;
			box-shadow: 0 2px 4px rgba(0,0,0,0.18);
			border-radius: 5px;
		}
	}
	
	.animated--fade {
		opacity: 0;
		transform: scale(.1);
		transition: opacity $animation-time linear, transform $animation-time linear;
		
		&.visible {
			transform: none;
			opacity: 1;
		}
	}
}
